* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background-color: #7a9d54;
  height: 100vh;
  padding-top: 5rem;
}

button  {
  margin: auto;
  /* right:; */
  padding: 1rem 2rem;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 5px;
  color: #fff;
  background: transparent;
  border: 2px solid white;
  border-radius: 15px;
  position: absolute;
  right: 2rem;
}
button :hover {
  background-color: #fff;
  color: #7a9d54;
  transform: scale(1.1);
  transition: 0.1s linear;
}

.result-board {
  padding: 7rem 3rem;
  height: 20%;
  width: 60%;
  border: 4px solid white;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 10rem;
  width: 40rem;
  flex-direction: column;
  /* border: 1px solid black; */
}
.name p {
  padding: 0.3rem;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
  letter-spacing: 4px;
}
.comp-score {
  border: 1px solid white;
  height: 10rem;
  width: 10rem;
  padding-top: 0.5rem;
  margin-right: 2rem;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.3rem;
  color: #656565;
  background-color: #fff;
  border-radius: 10px;
}
.your-score {
  border: 1px solid white;
  height: 10rem;
  width: 10rem;
  padding-top: 0.5rem;
  margin-left: 2rem;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.3rem;
  color: #656565;
  background-color: #fff;
  border-radius: 10px;
}
.score {
  font-size: 5rem;
  color: #000;
}
.comp-score,
.your-score {
  display: flex;
  flex-direction: column;
  letter-spacing: 3px;
}

.play-area {
  /* border: 1px solid black; */
  margin: 4rem 8rem;
  height: 45vh;
}
.hand {
  border: 1px solid white;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 1rem;
  background-color: white;
  border-radius: 50%;
  box-shadow: 5px 5px 10px #000;
}
.hand:hover {
  transform: scale(1.1);
  transition: 0.1s linear;
}
img {
  margin: 1.5rem 0;
  height: 5rem;
}
.upper-hands {
  display: flex;
  /* padding-bottom: 2rem; */
  justify-content: center;
  gap: 10%;
}
.paper-hand {
  width: 100%;
  display: flex;
  justify-content: center;
}
.stone {
  border: 15px solid #337ccf;
  z-index: 3;
}
.scissor {
  border: 15px solid #9d44c0;
  z-index: 3;
}
.paper {
  border: 15px solid #ff9b50;
  z-index: 3;
}

.game-rules {
  height: 370px;
  width: 300px;
  background-color: #004225;
  color: #fff;
  border: 7px solid white;
  border-radius: 10px;
  font-family: "roboto";
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  position: absolute;
  right: 5rem;
  bottom: 100px;
}
.game-rules h2 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
  letter-spacing: 2px;
  border-radius: 10px;
}
.game-rules li {
  padding-bottom: 1rem;
  font-size: 0.9rem;
}
ul {
  list-style: none; /* Remove default bullets */
}
ul li::before {
  content: "\25A0";
  color: yellow;
  font-weight: bold;
  display: inline-block;
  width: 0.9em;
  margin-left: -1em;
}
.connect-line {
  position: absolute;
  height: 10px;
  width: 200px;
  background-color: black;
  top: 48%;
  opacity: 0.6;
}
.connect-line2 {
  position: absolute;
  left: 52vw;
  height: 10px;
  width: 105px;
  background-color: black;
  transform: rotate(130deg);
  z-index: 0;
  opacity: 0.6;
}

.connect-line3 {
  position: absolute;
  top: 60%;
  height: 10px;
  width: 150px;
  background-color: black;
  transform: rotate(230deg);
  left: 40.5vw;
  opacity: 0.6;
}
.cross-img {
  position: absolute;
  right: 60px;
  bottom: 440px;
  z-index: 9;
  padding: 0;
  margin: 0;
}
.cross-img img {
  height: 50px;
  border-radius: 50%;
}
.cross-img:hover {
  transform: scale(1.1);
  transition: 0.1s linear;
}
button .cross-img{
    padding: 0;
    border: none;
}